.App {
  text-align: center;
}

body {
  height: auto;
  display: flex;

  align-items: center;
  justify-content: center;
  margin: 20px;
}

.movie-list {
  display: flex;
  padding: 24px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap:25px;
  flex-wrap: wrap;
}

.btn1{
  padding:20px 30px;

  background-color:rgb(82, 71, 71);
  font-size: 20px;
   color:white;
  border:none;
  
}

.btn2{
  padding:20px 30px;
  
  background-color:grey;
  font-size: 20px;
  
  border:none;
}

.movie-container {
  width: 340px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px 10px rgb(95, 85, 85);
}

.movie-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.movie-rating {
  font-size: 18px;
  font-weight: 350;
}

.movie-poster {
  height: 500px;
  width: 340px;
  object-fit: cover;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.movie-description {
  font-size: 15px;
  font-weight: bold;
  color: rgb(59, 49, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
