.App {
  font-size: 15px;
}

body {
  height: 100vh;
  /* display: flex;

  align-items: center;
  justify-content: center; */
  /* margin: 40px 0px;  */
  /* background-color: rgb(27, 24, 24); */
}

.movie-list {
  display: flex;
  padding: 24px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
}

.btn1 {
  font-size: 30px;
}

.btn2 {
  font-size: 30px;
}

.btn3 {
  font-size: 30px;
}

.like-dislike {
  /* background-color: rgb(255, 255, 255); */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;

  align-items: center;
}

.movie-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.movie-container {
  width: 340px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgb(12, 11, 11);
}

.movie-details {
  display: flex;

  align-items: center;
  /* padding: 10px; */
  /* color: rgb(29, 26, 26); */
  margin: 10px 5px;
}

.movie-rating {
  font-size: 18px;
  font-weight: 350;
  margin: 0px 10px;
}

.movie-poster {
  height: 500px;
  width: 340px;
  object-fit: cover;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.movie-description {
  font-size: 15px;
  font-weight: 400;
  /* color: rgb(20, 19, 19); */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.movie-show-button {
  margin: 10px 5px;
  font-size: 15px;
  padding: 5px;
  background-color: rgb(67, 98, 145);
  color: rgb(255, 251, 251);
  border: none;
}

:root {
  font-size: 10px;
}

.movie-detail-container {
  max-width: 120rem;
  /* color:rgb(22, 20, 20); */
}

.movie-trailer {
  margin: 3rem 0rem;
}

.colors {
  margin: 3rem;
}

.welcome {
  text-align: center;
  margin: 250px;
  /* color: rgb(24, 21, 21); */
}

.back-btn {
  margin: 10px 10px;
}

.delete-edit-movie {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-box {
  height: 8rem;
  width: 8rem;
  background-color: white;
  color: black;
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgb(29, 36, 46);
}

.board {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 8rem);
  /* margin:20rem 60rem; */
  box-shadow: 0px 0px 10px 5px rgb(92, 211, 13);
}

.full-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color:wheat; */
  min-height: 100vh;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0px 0px 10px 5px rgb(177, 47, 47);
}
